# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Other files
.DS_Store
*.zip
build

# Vscode
.vscode

# Python
.venv
__pycache__

# Kicad files
*.lck
fp-info-cache
/*-backups/
*.000
*.bak
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak